.owner {
  border-bottom: solid black 1px;

  .expanded {
    background-color: #f3f3f3;
  }

  .collapsed {
    background-color: #f0f8ff;
  }

  .general {
    display: flex;
    justify-content: space-between;
    padding: 0px 4px;
    cursor: pointer;

    .left-aligned {
      display: flex;

      .rank {
        padding-right: 6px;
        font-weight: 700;
        width: 29px;
      }

      .owner-address {
        padding-right: 6px;
        color: #7e7e7e;
        // font-weight: 700;
      }

      .token-amount {
        text-align: right;
        width: 50px;
        // font-weight: 700;
      }
    }

    .wallet-value {
      // font-weight: 700;
      color:black;
    }

    p {
      font-size: 16px;
      margin: 2px 0px 2px 0px;
    }
  }

  .details {
    padding: 6px 0px 6px 0px;
    border-top: 1px dotted black;
  }

  .details-expanded {
    padding: 6px 0px 6px 0px;
    border-top: 1px dotted black;
  }

  .show {
    display: block;
  }

  .hide {
    display: none;
  }

  .details-graph {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 0px 0px 0px;

    .token-item {
      padding-right: 8px;

      a {
        text-decoration: none;
      }

      .token-name {
        background-color: black;
        color: white;
        padding: 0px 6px;
        margin: 2px 8px 2px 0px;
        border-radius: 20px;
        font-weight: 700;
      }

      .token-name-orca {
        background-color: blue;
        color: white;
        padding: 0px 6px;
        margin: 2px 8px 2px 0px;
        border-radius: 20px;
        font-weight: 700;
        // box-shadow: 0px 0px 0px 1px blue inset;
        // border: 1px solid blue;
      }

      p {
        position: relative;
        font-size: 14px;
        margin: 0px 0px 4px 0px;
      }

      // .small-graph {
      //   background-color: black;
      // }

      // .graph-line-holder {
      //   padding: 10px;

      //   .graph-line {
      //     height: 6px;
      //     background-color: gray;
      //     margin: 0px 6px;
      //   }
      // }
    }
  }

  .details-other {
    display: flex;
    flex-wrap: wrap;

    .token-item {
      padding-right: 8px;

      .token-name-other {
        background-color: white;
        color: black;
        padding: 0px 6px;
        margin: 2px 8px 2px 0px;
        border-radius: 20px;
        font-weight: 400;
        box-shadow: 0px 0px 0px 1px black inset;        
      }

      p {
        font-size: 14px;
        margin: 0px 0px 4px 0px;
      } 
    }
  }
}

.owner:first-child {
  border-top: solid black 1px;
}